#playlist
  %ol
    - @playlist.each do |song|
      %li= link_to song.title, "/player/play/"+song.pos

- if @current and cover(@current)
  = image_tag("/music/"+cover(@current), html_options={"id"=>"cover"})
- if @status['state'] == 'play'
  %h1= "Playing:"
- else
  %h1= "Paused:"
- if @current
  %h2= @current.title+" by "+@current.artist
= link_to "Play/Pause", "/player/pp"
= link_to "Next", "/player/next"
= link_to "Previous", "/player/previous"
= link_to "Clear Playlist", "/player/clear"

- if @next
  %h5= "Next: "+@next['title']

.content
  = yield
